.sending {
	@apply fixed top-0 left-0 z-40 flex h-full w-full flex-col items-center justify-center bg-primary;
	transform: translateY(100%);
	&--title {
		@apply flex overflow-hidden text-xl font-medium tracking-wider text-white;
		& > div {
			@apply relative inline-block;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				font-weight: 200;
				content: attr(data-char);
				transform: translateY(101%);
			}
		}
	}
}
